<div id="modalInscrire" class="modal fade ">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation d'inscription à la sortie</h5>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vous inscrire à la sortie ?</p>
                <p class="text-secondary"><small>Vous pourrez toujours vous désister après inscription.</small>
                </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-light btnOk">Confirmer</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal HTML -->
<div id="modalDesist" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Désistement</h5>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vous désister ?</p>
                <p class="text-secondary"><small>Vous pourrez toujours vous réinscrire s'il reste de la
                    place...</small></p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-light btnDesist">Confirmer</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal HTML -->
<div id="modalPublish" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Publication</h5>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vous publier la sortie ?</p>
                <p class="text-secondary"><small>La sortie sera disponible à l'inscription.</small></p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-light btnconfirmpublish">Confirmer</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal HTML -->
<div id="modalCancel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Annulation</h5>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vous annuler la sortie ?</p>
                <p class="text-secondary"><small>Vous ne pourrez plus la publier ni la modifier!</small></p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-light btnconfirmCancel">Confirmer</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>

            </div>
        </div>
    </div>
</div>

